
.downloadBtn{
    background: blue; 
    color: white; 
    width: 120px; 
    height: 50px;
    margin-left: 67%;
    margin-bottom: 15px;
}
.bookList{
    margin-left: 20px;
}

.bookUl{
    margin-top: 7%;
    list-style-type: decimal;
}

.downloadContent{
    margin-top: 3%;
    width: 100%;
    margin-left: 0%;
    padding: .5%;
    border: 15px ;
    padding-left: 2.2%;
    background-color: linen;
    border-width: 20px;
    border-color: black;
}



.bookStore{
    margin-left: 10px;
}


